{% import "macro.twig" as macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/src/css/publication.css" type="text/css" />
        <link rel="stylesheet" href="{{ repository_path('~/template_resource/css/style.css') }}" type="text/css" />
        <script type="text/javascript" src="/dist/js/bootstrap.js"></script>
        <title>{{ pageTitle is defined ? "#{pageTitle} - " : '' }}{{ repository.config.title }}</title>
    </head>
    <body>
        <div id="header">
            <nav class="navbar navbar-static-top navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Git <span class="glyphicon glyphicon-glass"></span> Pub</a>
                    </div>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav">
                            <li {% if params.path == 'markdown.md' %}class="active"{% endif %}><a href="{{ repository_path('markdown.md') }}">Markdown</a></li>
                            <li {% if params.path == 'configuration.md' %}class="active"{% endif %}><a href="{{ repository_path('configuration.md') }}">Configuration</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="contents" {% if contentsClass is defined %}class="{{ contentsClass }}"{% endif %}>
            <div class="{% if containerClass is defined %}{{ containerClass }}{% else %}container{% endif %}">{% block contents %}{% endblock %}</div>
        </div>
    </body>
</html>
